body {
  background-color: #edeff0;
}

main
{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: auto;

}

section.innersection {
  padding: .875em;
}

#card1
{
	flex-basis : 33.3333%;

}

#card2
{
	flex-basis : 33.3333%;
}

#card3
{
	flex-basis : 33.3333%;
}

#card4
{
	flex-basis : 25%;
}

#card5
{
	flex-basis : 25%;
}

@media (max-width : 800px)
{
	#card1, #card2, #card3, #card4, #card5{
		flex-basis : 50%;
	}
}

@media (max-width : 600px)
{
	#card1,#card2,#card3,#card4,#card5{
		flex-basis : 100%;
    float: none;
   margin: 0 auto;
	}

}
